
@font-face {
    font-family: "CRC25";
    src: url(Fonts/Circe/CRC25.otf);
}
@font-face {
    font-family: "CRC25";
    src: url(Fonts/Circe/CRC25.ttf);
}
@font-face {
    font-family: "CRC35";
    src: url(Fonts/Circe/CRC35.otf);
}
@font-face {
    font-family: "CRC35";
    src: url(Fonts/Circe/CRC35.ttf);
}
@font-face {
    font-family: "CRC55";
    src: url(Fonts/Circe/CRC55.otf);
}
@font-face {
    font-family: "CRC55";
    src: url(Fonts/Circe/CRC55.ttf);
}
@font-face {
    font-family: "CRC65";
    src: url(Fonts/Circe/CRC65.otf);
}
@font-face {
    font-family: "CRC65";
    src: url(Fonts/Circe/CRC65.ttf);
}
@font-face {
    font-family: "CRC75";
    src: url(Fonts/Circe/CRC75.otf);
}
@font-face {
    font-family: "CRC75";
    src: url(Fonts/Circe/CRC75.ttf);
}




