<div class="row">
    <div class="col-sm-8 hidden-xs">
        <div class="column">
            <figure class="fixedratio"></figure>
        </div>
    </div>

    <div class="col-sm-4 pull-right col-xs-12 bottom">
        <div class="row">

            <div class="col-xs-6 column-passanger">
                <figure class="passanger"></figure>
            </div>
            <div class="col-xs-6 column-driver">
                <figure class="driver"></figure>
            </div>

        </div>
    </div>
</div>




