
    
        <div id="light_blue"></div>
        <div id="purple"></div>
        <div id="blue"></div>
        <div id="yellow"></div>
        <div id="orange"></div>
        <div id="scroll_ocnova"><img src="../Content/Images/m_scrol.png" /></div>



    <div class="row kolazh">

        <div class="row">
            <div class="col-lg-6">
                <div class=" kolash_full"><img src="../Content/Images/kolash_full.png" /></div>
            </div>

            <div class="col-lg-6 kolazh_right">
                <!--<div class="kolazh_right">-->
                    <div id="passenge"><img src="../Content/Images/passenge.png" /></div>
                    <div id="driver"><img src="../Content/Images/driver.png" /></div>
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div style="clear:both"></div>
            <div id="road"></div>
        </div>
    </div>



