@model Travel.Data.User

@{
    ViewBag.Title = "ConfirmTravel";
    Layout = "~/Views/Mailer/_Layout.cshtml";
    
}
  

<h1>
    @ViewBag.CabinetLink
    hyuhsdaishdaHDSIahsdIAOSHDashdaPISHDaushduasohdiAHSIDJZ
</h1>

<h2>ConfirmTravel</h2>

