<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="FacebookAppConfig" type="ComputerBeacon.Facebook.Server.AppConfig" />
    <section name="DBSelector" type="Travel.Core.DBSelectorConfigSection" />
    <section name="InterSystems" type="Travel.Core.InterSystemsSection" />
    <section name="LuceneDirection" type="Travel.Core.LuceneDirectionConfigSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="MvcMailer.BaseURL" value="" />
  </appSettings>
  <DBSelector IsMSSQL="true" />
  <InterSystems ConnectionString="Server=localhost; Namespace=USER; Password=SYS; User ID=_SYSTEM;" />
  <!--<FacebookAppConfig AppId="473539059413119" AppSecret="938a79670c995ad64819fddd911ddc55" />-->
    
  <FacebookAppConfig AppId="1742756746012108" AppSecret="cbf16be9d80dd7a3e30d6ae2d52599dc" />
  <LuceneDirection Path="SearchIndex" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
      <!-- <add name="ThRoadsEntityDB" providerName="System.Data.SqlClient" connectionString="Data Source=ARTUR\SQLEXPRESS;Initial Catalog=ThRoadsEntityDB;Integrated Security=true;" />-->
      <add name="ThRoadsEntityDB" providerName="System.Data.SqlClient" connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=ThRoadsEntityDB;Integrated Security=true;" />
   <!-- <add name="ThRoadsEntityDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ThRoadsEntityDB;Integrated Security=true;" />-->
    <!--<add name="ThRoadsEntityDB" providerName="System.Data.SqlClient" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9AEC35_thousandsroads;User Id=DB_9AEC35_thousandsroads_admin;Password=qazQAZqwerty123"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="thousandsroads@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="thousandsroads@gmail.com" password=")7js#M{t8" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
